<div class="form-group has-feedback">
  <select class="select2-tag-bar" style="width: 100%"></select>
  <span class="fa fa-lg {{fontAwesomeIcon}} form-control-feedback input-select2-tag-bar" aria-hidden="true"></span>
</div>
