$navbar-height: 55px;
$list-group-active-text-color: #333333;
$list-group-active-color: #333333;
$list-group-active-bg: #f5f5f5;

@import "bootstrap";
@import "font-awesome";
@import "notification-tags";
@import "notification-item";

.nav > li {
  text-align: center;
}

.form-control {
  font-family: append($font-family-sans-serif, "FontAwesome", "comma")
}

.input-filter-by-tags {
  right: 75px;
  top: 10px;
}

.input-date-range-picker {
  top: 10px;
}
