$navbar-height: 55px;

@import "bootstrap";
@import "font-awesome";
@import "notification-tags";

.nav > li {
  text-align: center;
}

.form-control {
  font-family: append($font-family-sans-serif, "FontAwesome", "comma")
}

.input-filter-by-tags {
  right: 75px;
  top: 10px;
}

.input-date-range-picker {
  top: 10px;
}
