<nav class="navbar navbar-default navbar-static-top">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{fa-icon "home" size=2}}</a>
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      {{user-profile-nav
        login="login"
        logout="logout"
        session=session
        model=model}}
    </div>

  </div>
</nav>


<div class="container">
  {{outlet}}
</div>


<div class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted">This is the footer.</p>
  </div>
</div>
