<div class="page-header">
  <h1>Welcome to Ember</h1>
</div>

{{#if session.isAuthenticated}}
  <button {{action 'logout'}}>logout</button>
{{else}}
  <button {{action 'login'}}>login</button>
{{/if}}

{{outlet}}
