<div class="container">
  <div class="row">

    <!-- Date range picker -->
    <div class="col-md-3">
      <div class="form-group has-feedback">
        {{
        bootstrap-datepicker
        autoclose=false
        placeholder="From"
        class="form-control"
        clearBtn=true
        endDate=datePickerEndDate
        format="MM dd, yyyy"
        todayHighlight=true
        }}
        <span class="fa fa-lg fa-calendar form-control-feedback input-date-range-picker" aria-hidden="true"></span>
      </div>
    </div>

    <!-- Filter by tags -->
    <div class="col-md-6">
      <div class="form-group has-feedback">
        {{#power-select-multiple
          options=filterByTagsOptions
          placeholder="Filter by tags"
          selected=selectedTags
          onchange=(action (mut selectedTags))
          onkeydown=(action "createOnEnter")
          noMatchesMessage="Hit enter to filter by new tag"
          as |number|}}
          {{number}}
        {{/power-select-multiple}}
        <span class="fa fa-lg fa-tags form-control-feedback input-tag-filter" aria-hidden="true"></span>
      </div>
    </div>

    <!-- Saved filters -->
    <div class="col-md-3">
      <div class="form-group has-feedback">
        {{#power-select-with-create
          options=savedFilterOptions
          selected=selectedFilter
          allowClear=true
          noMatchesMessage="Hit enter to create new filter"
          onchange=(action (mut selectedFilter))
          oncreate=(action "createFilter")
          as |filter|}}
          {{filter}}
        {{/power-select-with-create}}
        <span class="fa fa-lg fa-filter form-control-feedback input-create-filter" aria-hidden="true"></span>
      </div>
    </div>

  </div>
</div>
